
    
<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="{{ url_for('static', filename='styles/404.css') }}? version = 1.0" rel="stylesheet">
<head>
<title>Erreur 404</title>
</head>
<body>

    <div clas="noise"></div>
    <div clas="overlay"></div>
    <div clas="terminal"></div>
    <div clas="error"></div>

    <div class="wrap">
        <div class="404">
          <pre><code>
           <span class="green">&lt;!</span><span>DOCTYPE html</span><span class="green">&gt;</span>
      <span class="orange">&lt;html&gt;</span>
          <span class="orange">&lt;style&gt;</span>
         * {
                      <span class="green">everything</span>:<span class="blue">awesome</span>;
      }
           <span class="orange">&lt;/style&gt;</span>
       <span class="orange">&lt;body&gt;</span>
                    ERROR 404!
                      FILE NOT FOUND!
                      <span class="comment">&lt;!--La page ou le fichier que vous cherchez
                          n'est pas là où vous croyez.--&gt;
              </span>
          <span class="comment">&lt;!--Vous allez être redirigé vers la page
            d'accueil dans 5 secondes.--&gt;
      </span>
       <span class="orange"></span>
      
       <meta http-equiv="refresh" content="5;URL={{ url_for('servers') }}">
      
      </div>
      <br />
      <span class="info">
      <br />
      
      <span class="orange">&nbsp;&lt;/body&gt;</span>
      
      <br/>
            <span class="orange">&lt;/html&gt;</span>
          </code></pre>
        </div>
      </div>

    </span>
</body>
</html>

<!-- SOURCE: https://codepen.io/ZonFire99/full/njdls/ MODIFIED WITH ♥ BY Monsieur404 -->
