<!DOCTYPE html>
<html lang="fr" id="html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/normalize.css') }}? version = 1.0" />         
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}? version = 1.0" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {% block import %}{% endblock %}
        <title>{% block title %}{% endblock %} - Serveurs</title>
        
    </head>
    <body >

        <header id="header">
            <nav>
                <div id="menu">
                    <button type="button" id="img" onclick="openNav()"></button>
                    <div id="mySidenav" class="sidenav">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                        <a href="{{ url_for('servers') }}">Accueil</a>
                        <a href="{{ url_for('minigames') }}">Mini-jeux</a>
                        <!--<a href="#">Contact</a>-->
                        <form method="POST">
                            <button id="requette" type="submit" name="update" value="update" disabled></button>
                        </form>
                        <p id="copyright">network.skuorpion.fr © 2020</p>
                      </div>
                </div>
                <h1 id="website_name"><a id="website_name_link" href="{{ url_for('servers') }}"><span id="website_name_jp">スクオルピオン </span><span id="website_name_en"> NETWORK</span></a></h1>
                <a href="https://discord.gg/gczGBgE" ><img id="discord" src="{{ url_for('static', filename='imgs/icons/discord.ico') }}" alt=""> </a>
            </nav>
        </header>
    
        <main id="main">
            {% block content %}{% endblock %}
        </main>
    
    
        <footer>
            <script>
                var timer = 1;
                var date = {{ after }};
                var countDownDate = new Date(date + timer*60000);
            </script>
            <script src="{{ url_for('static', filename='javascript/header.js') }}"></script>
            <script src="{{ url_for('static', filename='javascript/countdown.js') }}"></script>
            {% block footer %}{% endblock %}
        </footer>
    </body>
</html>