{% extends "base.html" %}
{% block import %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/style-connection.css') }}? version = 1.0" />
{% endblock %}
{% block title %}{{ TheServer[7] }}{% endblock %}
{% block content %}
    <a id="game_lien" href="{{ url_for('servers', game=TheGame[3]) }}">
        <article id="game" style="background-image:linear-gradient(rgba(50, 50, 50, 0.2), rgba(50, 50, 50, 0.2)),url({{ url_for('static', filename='imgs/games-servers/banners/%s' %(TheGame[4])) }});">
            <section id="game_pres">
                {% if TheGame[6]==None: %}
                    <section id="game_logo" style="background-color: grey; background-image:url({{ url_for('static', filename='imgs/games-servers/logos/%s' %(TheGame[5])) }});"></section>
                {% else %}
                    <section id="game_logo" style="background-color: {{ TheGame[6] }}; background-image:url({{ url_for('static', filename='imgs/games-servers/logos/%s' %(TheGame[5])) }});"></section>
                {% endif %}
                <section id="game_info">
                    <section id="game_name">
                        {% if TheGame[2]==None: %}
                            <h2>{{ TheGame[1] }} - {{ TheServer[7] }}</h2>
                        {% else %}
                            <h2>{{ TheGame[2] }} - {{ TheServer[7] }}</h2>                            
                        {% endif %}
                    </section>
                    <section id="game_status">
                        <div id="game_online_{{ TheServer[10] }}"></div>
                        <h2 id="game_member"> {{ TheServer[11] }} en ligne</h2>
                    </section>
                </section>
            </section>
        </article>
    </a>

    <section id="server_infos_margin" class="server_infos">
        <h3>Informations de connexion au serveur :</h3>
        <p id="info" class="js-text">{{ TheServer[4] }}:{{ TheServer[5] }}</p>
        <p id="info">{{ TheServer[6] }}</p>
        <button class="js-copytextbtn" type="button">COPIER L'ADRESSE DANS LE PRESSE PAPIER<span class="copiedtext" aria-hidden="true">Copié !</span></button>
    </section>
    {% block footer %}
        <script src="{{ url_for('static', filename='javascript/height-connection.js') }}"></script>
        <script src="{{ url_for('static', filename='javascript/copy.js') }}"></script>
    {% endblock %}
{% endblock %}