{% extends "base.html" %}
{% block import %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/style-main.css') }}? version = 1.0" />
{% endblock %}
{% block title %}Jeux {% endblock %}
{% block content %}
    <section class="grid_game">
        {% for game in Game_Server: %}
            <a class="game_lien" href="{{ url_for('servers', game=game[3]) }}">
                <article class="game" style="background-image:linear-gradient(rgba(50, 50, 50, 0.2), rgba(50, 50, 50, 0.2)),url({{ url_for('static', filename='imgs/games-servers/banners/%s' %(game[4])) }});">
                    <section class="game_pres">
                        {% if game[6]==None: %}
                            <section class="game_logo" style="background-color: grey; background-image:url({{ url_for('static', filename='imgs/games-servers/logos/%s' %(game[5])) }});"></section>
                        {% else %}
                            <section class="game_logo" style="background-color: {{ game[6] }}; background-image:url({{ url_for('static', filename='imgs/games-servers/logos/%s' %(game[5])) }});"></section>
                        {% endif %}

                        <section class="game_info">
                            <section class="game_name">
                                {% if game[2]==None: %}
                                    <h2>{{ game[1] }}</h2>
                                {% else %}
                                    <h2>{{ game[2] }}</h2>
                                {% endif %}
                            </section>
                            <section class="game_status">
                                <div class="game_online_{{ game[7] }}"></div>
                                <h2 class="game_member"> {{ game[8] }} en ligne</h2>
                            </section>
                        </section>

                    </section>
                </article>
            </a>
        {% endfor %}
    </section>
    {% block footer %}{% endblock %}
{% endblock %}