{% extends "base.html" %}
{% block import %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/style-minigames.css') }}? version = 1.0" />
{% endblock %}
{% block title %}Mini-Jeux {% endblock %}
{% block content %}

    <h1>J'héberge :</h1>
    <div class="grid-container">
        {% for minigame in Minigames_local: %}
            <a style="text-decoration: none;" href="{{ url_for('minigames', minigame=minigame[2] ) }}"><section class="grid-item" style="background-image:linear-gradient(rgba(50, 50, 50, 0.2), rgba(50, 50, 50, 0.9)),url({{ url_for('static', filename='imgs/banners-minigames/%s' %(minigame[3])) }});">{{ minigame[1] }}</section></a>         
        {% endfor %}
    </div>

    <h1>Je partage :</h1>
    <div class="grid-container">
    {% for minigame in Minigames_global: %}
        <a style="text-decoration: none;" href="{{ minigame[3] }}"><section class="grid-item" style="background-image:linear-gradient(rgba(50, 50, 50, 0.2), rgba(50, 50, 50, 0.9)),url({{ url_for('static', filename='imgs/banners-minigames/%s' %(minigame[4])) }});">{{ minigame[1] }}</section></a>         
    {% endfor %}
    </div>

{% block footer %}{% endblock %}
{% endblock %}