{% extends "base.html" %}
{% block import %}
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/style-minigame.css') }}? version = 1.0" />
{% endblock %}
{% block title %}Mini-Jeux {% endblock %}
{% block content %}

  <div id="div_iframe">
    <!--<IFRAME id="iframe" src="http://86.75.200.35:10780/minigames/{{ TheMinigame[2] }}/{{ TheMinigame[2] }}.html"></IFRAME>-->
    <!--<div id="iframe" #include virtual="{{ url_for('static', filename='test.html') }}"></div>-->
    <object id="iframe" type="text/html" data="{{ url_for('static', filename='minigames/%s/%s.html' %(TheMinigame[2], TheMinigame[2])) }}"></object>
  </div>

  
  <section id="writting">
    <button id="button" onclick="iframee()"></button>
    <h2 id="writting">{{ TheMinigame[1] }}</h2>
    <section>
      <h3 id="writting">Description :</h3>
      <pre id="writting">{{ TheMinigame[4] }}</pre>
    </section>
    <section>
      <h3 id="writting">Auteur(s) :</h3>
      <pre id="writting">{{ TheMinigame[5] }}</pre>
    </section>
  </section>
  

{% block footer %}
  <script>
    var Max_Width = {{ TheMinigame[6] }};
    var Max_Height = {{ TheMinigame[7] }};    
  </script>
  <script src="{{ url_for('static', filename='javascript/iframe.js') }}"></script>
{% endblock %}
{% endblock %}