.grid-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 1%;
    row-gap: 10%;
    padding: 2% 6%;
  }

  .grid-item {

    /*overflow: hidden;*/
    background-color: rgba(255, 255, 255, 0.8);
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    background-position:center center;
    background-size: cover;
    padding: 50% 0;
    /*A REVOIR*/ font-size: 30px;
    text-align: center; 
    text-decoration: none;
    color: #FAFAFA;
    line-height: 0.1em;
  }

  /* NE PAS SEN OCCUPER */
  .game {
  height: 75%;
  width: 100%;
  overflow: hidden;
  background-position:center center;
  background-size: cover;
  transition: 1s;
}

h1
{
  padding-left: 1%;
  font-family: 'Open Sans', sans-serif;
  color: #808080;
  font-size: 1.5vmax;
}