/*jeux*/
#game_lien
{
  text-decoration: none;
  color: #FAFAFA;
  line-height: 0.1em;
}

#game
{
  width: 34.6%;
  overflow: hidden;
  background-position:center center;
  background-size: cover;
  transition: 1s;
  position: fixed;
  display: inline-block;
  bottom: 0;
  height: 92%;
}

#game:hover
{
  filter: brightness(80%);
  transition: 1s;
}

#game_pres
{
  background: linear-gradient(rgba(10, 10, 10, 0.0), rgba(0, 0, 0, 0.9));
  padding-left: 8%;
}

#game_logo
{
  width:5.5vw;
  height:5.5vw;
  border-radius: 50%;
  background-size: contain;
  overflow: hidden;
  background-position:center center;
  background-repeat: no-repeat;
  display: inline-block;
}

#game_info
{
  display: inline-block;
}

#game_name
{
  display: inline;
  font-size: /*1.1em*/ 1.5vmax;
}

#game_status
{
  display: inline-block;
}

#game_online_0
{
  height: 0.75vw;
  width: 0.75vw;
  border-radius: 50%;
  background-color: #EB1416;
  display: inline-block;
}

#game_online_1
{
  height: 0.75vw;
  width: 0.75vw;
  border-radius: 50%;
  background-color: #8CC63E;
  display: inline-block;
}

#game_member
{
  font-size: /*0.9em*/ 1vmax;
  display: inline;
}
/*Fin Jeux*/


/*Server*/
#servers
{
  font-family: 'Open Sans', sans-serif;
  margin-left: 34.6%;
  padding: 1.6%;
  display: inline-block;
  width: 62.2%;
}

#nb_server
{
  text-align: center;
  color: #808080;
  margin: 0;
  margin-bottom: 1.6%;
  font-weight: 400;
  font-size: 1.7vmax;
  line-height: 2vmax;
}

.server
{
  background-color: #ffffff;
  margin-bottom: 2%;
  border-radius: 3px;
  display: inline-block;
  width: 100%;
  vertical-align: middle;

}

.server_info
{
  padding-top: 1.6%;
  padding-bottom: 1.6%;
  display: inline-block;    
  color: #808080;
  margin-left: 1%;
  align-items: center;

}

.server_info_text
{
  margin: 0%;
  font-weight: 400;
  font-size: 1.7vmax;
  line-height: 2vmax;
}

.server_join_text
{
  margin: 0%;
  font-weight: 400;
  font-size: 2vmax; 
  line-height: 300%;
}

.server_join
{
  float: right;
  border-radius: 3px;
  width: 60%;
  text-align: center;    
  height: max-content;
}

.online_1
{
  color: #8CC63E;
  font-weight: 800;
}

.online_0
{
  color: #EB1416;
  font-weight: 800;
}

.bold
{
  font-weight: 800;
}

.server_join_1
{
  background-color: #8CC63E;
  color: #ffffff;
}

.server_join_0
{
  background-color: #4D4D4D;
  color: #999999;
}
/*Fin Server*/