/*jeux*/
#game_lien
{
  text-decoration: none;
  color: #FAFAFA;
  line-height: 0.1em;
}

#game
{
  width: 100%;
  overflow: hidden;
  background-position:center center;
  background-size: cover;
  transition: 1s;
  display: block;
}

#game:hover
{
  filter: brightness(80%);
  transition: 1s;
}

#game_pres
{
  background: linear-gradient(rgba(10, 10, 10, 0.0), rgba(0, 0, 0, 0.9));
  padding-left: 4%;
}

#game_logo
{
  width:5.5vw;
  height:5.5vw;
  border-radius: 50%;
  background-size: contain;
  overflow: hidden;
  background-position:center center;
  background-repeat: no-repeat;
  display: inline-block;
}

#game_info
{
  display: inline-block;
}

#game_name
{
  display: inline;
  font-size: /*1.1em*/ 1.5vmax;
}

#game_status
{
  display: inline-block;

}

#game_online_0
{
  height: 0.75vw;
  width: 0.75vw;
  border-radius: 50%;
  background-color: #EB1416;
  display: inline-block;
}

#game_online_1
{
  height: 0.5vw;
  width: 0.5vw;
  border-radius: 50%;
  background-color: #8CC63E;
  display: inline-block;
}

#game_member
{
  font-size: /*0.9em*/ 1vmax;
  display: inline;
}
/*Fin Jeux*/


/*Inforamation*/
.server_infos
{
  background-color: #ffffff;
  border-radius: 3px;
  width: 62.4%;
  margin: 0 18.8%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: /*1.8em*/ 3vmin;
  font-weight: 400;
  padding: 1% 0;
}

.server_infos h3
{
  margin-top: 0;
}

.server_infos h2
{
  margin-top: 0;
  margin-bottom: 2%;
}

.server_infos #info
{
  background-color: #E6E6E6;
  margin: 2% 8.75%;
  width: 85%;
  border: 1px solid #D0D0D0;
  border-radius: 5px;
  color: #686868;
  line-height: /*2em*/ 6.5vmin;
}

.js-copytextbtn {
  background-color: #8CC63E;
  border: none;
  color: white;
  /*A REVOIR*/ padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: /*16px*/ 1.75vmin ;
  /*A REVOIR margin: 4px 2px;*/
  -webkit-transition-duration: 0.4s; /* SAFARI */
  transition-duration: 0.4s; /* AUTRES NAV */ 
  cursor: url("../imgs/pointers/pointeurfuck-rn.cur") 20 0, pointer;
  margin-top: 3%;
  position: relative;
  outline: 0; /*A ESSAYER DE METTRE SEULEMENT PENDANT L'ANIMATION*/
}

.js-copytextbtn:hover {
  /*A REVOIR*/ box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


/*copie*/
.copiedtext {
  position: absolute;
  left: 0; top: 0; right: 0;
  text-align: center;
  opacity: 0;
  transform: translateY(-1em);
  color: #000000;
  transition: all .500s;
}

.copied .copiedtext {
  opacity: 1;
  transform: translateY(-2em);
}