/*jeux*/

.grid_game
{
  display: grid;
  column-gap: 4%;
  row-gap: 4.8%;
  padding: 3% 6%;
}

@media screen and (min-width: 1000px)
{
  .grid_game
  {
    grid-template-columns: repeat(3,1fr);
  }
}

@media screen and  (min-width: 500px) and (max-width: 999px)
{
  .grid_game
  {
    grid-template-columns: repeat(2,1fr);
  }
}

@media screen and (max-width: 499px)
{
  .grid_game
  {
    grid-template-columns: repeat(1,1fr);
  }
}


.game_lien
{
  text-decoration: none;
  color: #FAFAFA;
  line-height: 0.1em;
}

.game
{
  /*height: 75%;*/
  width: 100%;
  overflow: hidden;
  background-position:center center;
  background-size: cover;
  transition: 1s;
}

.game:hover
{
  filter: brightness(80%);
  transition: 1s;
}

.game_pres
{
  background: linear-gradient(rgba(10, 10, 10, 0.0), rgba(0, 0, 0, 0.9));
  margin-top: 100%;
  padding: 41% 5% 10% 8%;
}

.game_logo
{
  width:5vw;
  height:5vw;
  border-radius: 50%;
  background-size: contain;
  overflow: hidden;
  background-position:center center;
  background-repeat: no-repeat;
  display: inline-block;
}

.game_info
{
  display: inline-block;
}

.game_name
{
  display: inline;
  font-size: /*1.1em*/ 1.2vmax;
}

.game_status
{
  display: inline-block;

}

.game_online_0
{
  height: 0.75vw;
  width: 0.75vw;
  border-radius: 50%;
  background-color: #EB1416;
  display: inline-block;
}

.game_online_1
{
  height: 0.75vw;
  width: 0.75vw;
  border-radius: 50%;
  background-color: #8CC63E;
  display: inline-block;
}

.game_member
{
  font-size: /*0.9em*/ 1vmax;
  display: inline;
}

/*Fin Jeux*/